{{ define "main" }}
    <div id="main-container">
        <div id="hello">
            <div id="hello-text">
                <p>HELLO.</p>
                <p id="i-am-text">
                    I'M <span id="first-name-text">GUILHERME</span> <span id="surname-text">SALOME.</span>
                </p>
            </div>
        </div>
        <div id="resume">
            <div class="animate radius-top">
                <a href="{{ "resume/resume.pdf" | relURL }}"></a>
            </div>
            <div id="resume-text">
                <p class="smaller lighter">BROWSE MY</p>
                <p class="bigger darker">RESUME</p>
            </div>
        </div>
        <div id="teaching">
            <div class="animate">
                <a href="{{ "academic-work/" | relURL }}"></a>
            </div>
            <div id="teaching-text">
                <p class="smaller lighter">EXPLORE MY</p>
                <p class="bigger darker">ACADEMIC WORK</p>
            </div>
        </div>
        <div id="research">
            <div class="animate radius-bottom">
                <a href="{{ "research/" | relURL }}"></a>
            </div>
            <div id="blog-text">
                <p class="smaller lighter">READ MY</p>
                <p class="bigger darker">BLOG</p>
            </div>
        </div>
    </div>
{{ end }}
